# Environment variables
.env

# Virtual environment
venv/

# Logs folder
logs/
/logs/
*.log

# Secrets and credentials
*.json

# OS/mac files (optional)
.DS_Store

# Pycache
__pycache__/
*.py[cod]
*.pyc

# Chat history
/artifacts/*.bak
/artifacts/*.dat
/artifacts/*.dir 
  
