services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    image: usmle-rag-backend:latest
    ports: ["8080:8080"]
    env_file: .env
    restart: always
  

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    image: usmle-rag-frontend:latest
    ports: ["8501:8501"]
    env_file: .env
    restart: always
