langgraph

langsmith

langchain
langchain-core
langchain_openai
langchain-community
langchain-pinecone
pinecone
langchain-tavily
langchain-text-splitters

python-dotenv

PyPDF2
pdfplumber

transformers
torch
typing-extensions

streamlit
flask
flask-cors

judgeval