langgraph

langsmith

langchain
langchain-core
langchain_openai
langchain-community
langchain_pinecone
langchain-text-splitters

python-dotenv

PyPDF2
pdfplumber

pinecone-client[grpc]

transformers
torch

streamlit